.abc{
    text-align: center;
}
.cba{
    font-style: italic;
}
.para{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table, th, td{
    border: 1px solid black;
    background-color: aqua;
}
.abcd{
    margin-left: auto;
    margin-right: auto;
}
/* .efgh{
    padding: 10px 20px 10px 20px;
}
/* .first{
    border: 3px solid black;
    height: 80px;
    width: 200px;
    margin-top: 20px;
    background-color: aqua;
    border-radius: 25px;
}
.second{
    display:grid;
    grid-template-columns: repeat(5,1fr);

}
.third{
    font-family: 'Times New Roman', Times, serif ;
} */